
body{
	font-family: 'Sanchez', serif;
	overflow: auto;
}




.primlin .seglin{
	
	overflow: auto;
}

}
.coder{
	width: 200px;
	height: 200px;
    float: left;
    margin: 10px;
    position: relative;
    bottom:50px;
    top:50px;


}


.coder2 {
	width: 200px;
	height: 200px;
    float: left;
	margin-left:  0px;
    position: relative;
    bottom:50px;
    top: 50px;

 }

div.coder p, div.coder2 p{
	color: #FFF;
	position: absolute;
	bottom: 15px;
	text-align: right;
	margin-right: 10px;
	font-size: 20px


}

